/* 

colors 

baige - #edebd7;
red - #a5243d;
black - #080f0f;

*/ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300;1,400&family=Roboto&display=swap');

html {
  background-color: #a5243d;
  color: #080f0f;
  font-family: 'Open Sans', sans-serif;
}
main {
  background-color: #edebd7;
}
body {
  background-color: transparent;
}
h1 {
  color: #a5243d;
}
#hero-title{
  background-color: rgb(255, 255, 255, 0.9);
  padding:10px;
}
h3 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  color:#a5243d;
}
.price {
  margin-left: 5px;
  font-weight: 800;
  float: right;
}
.bg-red {
  background-color: #a5243d;
  color: #fff;
}
.navbar-light .navbar-brand {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color:#fff;
}
a.nav-link {
  color: #fff !important;
  text-decoration: none;
}
a.nav-link:hover {
  text-decoration: underline;
}
.secondary-text {
  display:block;
  font-size: 1.25rem;
}

.dish-container {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 15px
}
.dish-container > ul {
  padding-left: 0px;
}
.dish-name{
  border-bottom: 1px solid silver;
  list-style: none;
  padding: 10px 0px;
}
.dish-name:last-child{
  border-bottom:none;
}
.dish-item {
  width: 80%;
  display: inline-block;
  text-align: left;
  word-break: break-word;
}
.footer-style{
  background-color:#a5243d;
  border-top:5px solid #080f0f;
  color: #edebd7;
}
a.ftr-underline-animation.ftr-link {
  color: #edebd7;
}
.icon-style{
  padding-right:10px;
}
.hero-img{
  background-image: url(/images/hero-img-min.jpg);
  min-height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.opening{
  background-color: #fff;
  color:#a5243d;
  
}
.opening > p {
  font-size: 1.25rem;
}
.phone {
  background-color:rgb(165, 36, 61, 0.9);
  color: #edebd7;
  font-size:1.25rem;
}
.phone, .opening{
  padding:20px;
  border-radius:5px;
  font-size:1.5rem;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.phone:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.phone-link, .phone-link:hover {
  color: #edebd7;
}
.address-line{
  display:block;
}
.opening-times{
  font-size: 1.25rem;
  display:block;
  border-bottom: 1px solid black;
  padding:5px 0px;
}
.day{
  text-align: left;
}
.time{
  float:right;
  font-weight: 800;
  margin-left:10px;
}
.alergy-notice{
  border: 3px solid #a5243d;
  padding:20px;
}
.contact-details{
  display: block;
  margin:15px 0px;
}
@media only screen and (max-width:767px) {
  .hero-img{
    height: 300px; 
  }
  .phone {
    width: 100%;
  }
}